/* Universal Selector */
:root { 
    --primary-color: #3A3F3A;
    --secondary-color: #047699;
    --accent1-color: #1C455D;
    --accent2-color: #E2CC5A;
    --font-primary: 'Merriweather', serif;
    --font-secondary: 'Roboto', sans-serif;
  }

/* General Styles */
body {
    font-family: var(--font-secondary), sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1C455D;
    color: white;
}

/* Navigation Styles */
nav {
    background-color: var(--primary-color);
    margin-bottom: 15px;
    border-bottom: 1px solid white;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

/* Heading Styles */
h1 {
    color: #E2CC5A;
    font-size: 3rem;
    text-align: center;
    font-family: var(--font-primary), serif;
}

/* Image Styles */
img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px #1C455D;
    display: block;
    margin: 0 auto;
}

main img {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px #1C455D;
}

/* Main Section */
main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    background-color: #047699;
    border: 1px solid white;
    border-radius: 5px;
}

/* Paragraph Styles */
p {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    text-align: justify;
}

/* Box Class */
.box {
    margin: 1rem;
    border: 1px solid white;
    padding: 1rem;
    background-color: #047699;
    color: white;
}

.temple {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background: #C3DAD6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

a {
    color: var(--accent1-color);
}

/* Aside Styles */
aside {
    width: 20rem;
    margin: 1rem auto;
    text-align: center;
    position: relative;

}
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* Footer Styles */
footer {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid white;
    background-color: var(--primary-color);
    display: block;
    height: 50px;
}

.footer-text {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}
