/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #0044cc;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main Content */
  main {
    max-width: 840px;
    margin: 20px auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
  
  p {
    padding: 0;
    line-height: 1.6;
  }
  
  /* Aside Section */
  aside {
    width: 20rem;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 5px;
  }
  
  aside img {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  /* Footer */
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
    background-color: #0044cc;
    color: white;
  }
  